@import './css/variable.scss';
.ant-btn {
  border-radius: 6px !important;
}
.ant-btn.ant-btn-primary {
  background-color: #0875DA;
}
.ant-btn.red-btn {
  background-color: $color-primary;
  color: #fff;
  border-color: $color-primary;
  &:hover {
    background-color: $color-primary;
    color: #fff;
    border-color: $color-primary;
  }
}
.mr10 {
  margin-right: 10px;
}
.page-header-title {
  color: $color-text;
  font-weight: 600;
  font-size: 26px;
  line-height: 38px;
}