@import '../../css/variable.scss';
.trial-page-text {
  text-align: center;
  &-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 38px;
    color: $color-text;
  }
  &-btn {
    margin-top: 10px;
    margin-bottom: 28px;
  }
  &-email {
    margin-top: 25px;
    a {
      color: $color-text;
      font-size: 12px;
      img {
        margin-right: 5px;
      }
    }
  }
  &-img {
    img {
      width: 170px;
    }
    span {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: #707273;
    }
  }
}