@import '../../css/variable.scss';

.expired-page {
  width: 320px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  &-title {
    color: $color-text;
    margin-top: 16px;
    font-weight: 600;
    font-size: 26px;
    line-height: 38px;
  }
  &-text {
    margin-top: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    a {
      color: $color-primary;
      font-weight: 400;
    }
  }
}