.expired-page {
  width: 320px;
  text-align: center;
  padding-top: 44px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  &-title {
    font-weight: 600;
    font-size: 26px;
    line-height: 38px;
  }
  &-text {
    margin-top: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    a {
      color: #A72854;
      font-weight: 400;
    }
  }
}